---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import { loadQuery } from '../../lib/sanity/load-query';

const {data: home} = await loadQuery<Array<{title: string}>>({
  query: `*[_type == 'home'][0]{
  aboutHeading}`,
})


console.log(home.aboutHeading)
---

<Layout>
	<h1>{home.aboutHeading}</h1>
	<Welcome />
</Layout>
